.font {
  font-family: Microsoft Tai Le;
}

*{
  margin:0px auto; /*supaya layer otomatis mengisi dan ke tengah*/
  }

  .header{
    width: 100%;
    height: 80px;
    background: rgb(250, 245, 245);
    z-index: 1000;
    box-shadow:1px 5px 12px 2px rgba(119, 78, 24, 0.651);
    position:fixed;
}

.stylemenu{
    text-decoration: none; /*Untuk menghlilangkan garis bawah pada text link*/
    margin-left: 10px;
    margin-right: 30px;
    color: rgba(160, 72, 17, 0.829);
}

.jarak{
    height: 5cm;
}

.judul{
    text-align: center;
    letter-spacing: 4px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Microsoft Tai Le;
  }
      
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color:#000000;
    background-color: rgba(185, 95, 21, 0.521);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .kunjungi{
    text-decoration: none;
    color: black;
  }
   
  table {
    border-collapse: separate;
    border-spacing: 100px 100px;
    align-content: center;
  }
   
  td {
    padding: 10px 0;
  }
   
  .card button:hover {
    opacity: 0.7;
  }
  
  .c{
    font-family: Segoe UI;
    font-size: 30px;
    border: none;
    background-color: #fff;
  }

  img {
    width: 30px;
    height: 250px;
  }

  .lihat {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 155, 24);
    background: honeydew;
  }

  .button-lihat {
    border: 3px solid whitesmoke;
    border-color: #7c5b3da8;
    color : black;
    font-family: Microsoft Tai Le;
    font-size: 25px;
    padding: 20px 60px;
    background-color: rgba(143, 92, 26, 0.37);
    text-align: center;
    cursor: pointer;
  }

  h1 {
    font-size: 20px;
  }
  
  .jarak1{
    height: 5cm;
  }

  .footer{
    font-size: 15px;
    width: 100%;
    height: 210px;
    background: rgba(92, 52, 7, 0.726);
    z-index:1000; 
  }
  
  .stylefooter{
    margin-left: 2cm;
  }
  
  .foto2{
    margin-top: 20px;
    margin-left: -20px;
  }
  
  .bawah1{
    margin-top: -1px;
   
  }
  
  .bawah2{
    margin-top: 20px;
  }
  

  