.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Microsoft Tai Le;
  }
      
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color:#000000;
    background-color: #F5F6C0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
   
  table {
    border-collapse: separate;
    border-spacing: 100px 100px;
    align-content: center;
  }
   
  td {
    padding: 10px 0;
  }
   
  .card button:hover {
    opacity: 0.7;
  }

  .judul {
    text-align:center;
    background-color: #E2E9B4;
    background-image: linear-gradient(#CDC835, #eef3cd);
    font-size: 40px;
    font-family: Microsoft Tai Le Regular;
    color: #756505;
    border-width: 5px;
    padding: 15px 60px;
  }
  
  img {
    width: 30px;
    height: 250px;
  }

  .lihat {
    text-align: center;
    font-size: 35px;
    color: green;
    background: honeydew;
  }

  .button-lihat {
    border: 3px solid whitesmoke;
    border-color: #D1CD38;
    color : black;
    font-family: Microsoft Tai Le;
    font-size: 25px;
    padding: 20px 60px;
    background-color:#ffffff;
    text-align: center;
    cursor: pointer;
  }

  h1 {
    font-size: 20px;
  }

  .footer{
    height: 250px;
    background:#656530;
    color:#fff;
    font-family: Segoe UI;
    position: relative;
    bottom:0px;
    width:100%;
  } 

    .h2 {
      text-align: center;
      font-size: 12px;
    }

  .image {
    width :190px;
    height :190px;
    position: left;
    border-collapse: 30px;
    border-color: #656530;
    width: 20%;
  }
  