.font {
    font-family: Microsoft Tai Le;
}

*{
    margin:0px auto; /*supaya layer otomatis mengisi dan ke tengah*/
    }
     
.wrapper{
    width:100%;
    }

.header{
    width: 100%;
    height: 80px;
    background: rgb(250, 245, 245);
    z-index: 1000;
    box-shadow:1px 5px 12px 2px rgba(119, 78, 24, 0.651);
    position:fixed;
}

.stylemenu{
    text-decoration: none; /*Untuk menghlilangkan garis bawah pada text link*/
    margin-left: 10px;
    margin-right: 30px;
    color: rgba(160, 72, 17, 0.829);
}

.jarak{
    height: 5cm;
}

.judul{
    text-align: center;
    letter-spacing: 4px;
}

.box3{
    position: relative;
    width:auto;
    height:500px;
    top: 200px;
    background:rgba(228, 197, 174, 0.329)
}

.box4{
    position: absolute;
    width:10cm;
    height:7cm;
    left: 2cm;
    top: 2cm;
    background:rgba(185, 95, 21, 0.521);
}

.imgtoko2{
    margin-top: 0.1cm;
    margin-left: 1cm;

}

.detailtoko1{
    font-size: 18px;
    width: 20cm;
    height: 6.5cm;
    margin-left: 13cm;
    margin-right: 3cm;
    margin-top: 0.5cm;
    position: absolute;
    background: rgba(197, 160, 115, 0.479);
    letter-spacing: 1px;

}

.detailtext{
    text-align: left;
    margin-top: 15px;
    margin-left: 1cm;
    margin-right: 1cm;
    font-size: 15px;
}

.deskripsi{
    margin-top: 350px;
    margin-left: 5cm;
    margin-right: 5cm;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(209, 204, 177, 0.486);
}

.textdesk{
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}

.box5{
    position: relative;
    width:auto;
    height:600px;
    top: 60px;
    background:rgba(128, 96, 71, 0.329)
}

.box6{
    position: relative;
    width:30cm;
    height:200px;
    top: 100px;
    left: 2.8cm;
    background:rgba(133, 83, 19, 0.37) ;
}

.desainproduk{
    margin-left: -4.5cm;
}

.produk {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 2cm;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    background: rgb(252, 250, 244);
}

.foto{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 170px;
}

.foto4{
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.foto5{
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box7{
    height: 2cm;
    margin-top: 1.6cm;
    background: rgba(216, 171, 88, 0.589);
    text-align: center;
    letter-spacing: 2px;
}

.jualanku{
    letter-spacing: 4px;
    font-size: 20px;
    text-align: center;
}

.footer{
    font-size: 15px;
    width: 100%;
    height: 210px;
    background: rgba(92, 52, 7, 0.726);
    z-index:1000; 
  }
  
  .stylefooter{
    margin-left: 2cm;
  }
  
  .foto2{
    margin-top: 20px;
    margin-left: -20px;
  }
  
  .bawah1{
    margin-top: -1px;
   
  }
  
  .bawah2{
    margin-top: 20px;
  }